*.gitignore filter=lfs diff=lfs merge=lfs -text
/LICENSE filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
/README filter=lfs diff=lfs merge=lfs -text
/auto_diff/build_and_test filter=lfs diff=lfs merge=lfs -text
/auto_diff/build_and_test_parallel filter=lfs diff=lfs merge=lfs -text
/auto_diff/clean filter=lfs diff=lfs merge=lfs -text
*.config filter=lfs diff=lfs merge=lfs -text
/auto_diff/export filter=lfs diff=lfs merge=lfs -text
/auto_diff/i1 filter=lfs diff=lfs merge=lfs -text
/auto_diff/i1p filter=lfs diff=lfs merge=lfs -text
/auto_diff/make/makefile filter=lfs diff=lfs merge=lfs -text
/auto_diff/make/makefile_base filter=lfs diff=lfs merge=lfs -text
/auto_diff/make/mkb filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
/auto_diff/mk filter=lfs diff=lfs merge=lfs -text
*.f90 filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
/auto_diff/test/ck filter=lfs diff=lfs merge=lfs -text
/auto_diff/test/clean filter=lfs diff=lfs merge=lfs -text
/auto_diff/test/cleanup filter=lfs diff=lfs merge=lfs -text
/auto_diff/test/export filter=lfs diff=lfs merge=lfs -text
/auto_diff/test/make/makefile_base filter=lfs diff=lfs merge=lfs -text
/auto_diff/test/mk filter=lfs diff=lfs merge=lfs -text
/auto_diff/test/mkx filter=lfs diff=lfs merge=lfs -text
/auto_diff/test/rn filter=lfs diff=lfs merge=lfs -text
/auto_diff/test/test_output filter=lfs diff=lfs merge=lfs -text
/chem/build_data_and_export filter=lfs diff=lfs merge=lfs -text
/chem/data/README filter=lfs diff=lfs merge=lfs -text
*.data filter=lfs diff=lfs merge=lfs -text
/chem/make/makefile_base filter=lfs diff=lfs merge=lfs -text
/chem/preprocessor/README filter=lfs diff=lfs merge=lfs -text
/chem/preprocessor/build_for_export filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
/chem/preprocessor/clean filter=lfs diff=lfs merge=lfs -text
/chem/preprocessor/inlist filter=lfs diff=lfs merge=lfs -text
/chem/preprocessor/make/makefile filter=lfs diff=lfs merge=lfs -text
/chem/preprocessor/mk filter=lfs diff=lfs merge=lfs -text
/chem/preprocessor/rebuild_all filter=lfs diff=lfs merge=lfs -text
/chem/preprocessor/rn filter=lfs diff=lfs merge=lfs -text
*.list filter=lfs diff=lfs merge=lfs -text
/chem/test/ck filter=lfs diff=lfs merge=lfs -text
/chem/test/make/makefile_base filter=lfs diff=lfs merge=lfs -text
*.f filter=lfs diff=lfs merge=lfs -text
/chem/test/test_output filter=lfs diff=lfs merge=lfs -text
/clean filter=lfs diff=lfs merge=lfs -text
/com filter=lfs diff=lfs merge=lfs -text
/const/make/makefile_base filter=lfs diff=lfs merge=lfs -text
/const/test/make/makefile_base filter=lfs diff=lfs merge=lfs -text
/const/test/test_output filter=lfs diff=lfs merge=lfs -text
/cv filter=lfs diff=lfs merge=lfs -text
/data/version_number filter=lfs diff=lfs merge=lfs -text
/each_package_do filter=lfs diff=lfs merge=lfs -text
/empty_caches filter=lfs diff=lfs merge=lfs -text
/eos/README filter=lfs diff=lfs merge=lfs -text
/eos/build_data_and_export filter=lfs diff=lfs merge=lfs -text
/eos/clean filter=lfs diff=lfs merge=lfs -text
*.defaults filter=lfs diff=lfs merge=lfs -text
/eos/i1 filter=lfs diff=lfs merge=lfs -text
/eos/i1_preprocessors filter=lfs diff=lfs merge=lfs -text
/eos/i1p filter=lfs diff=lfs merge=lfs -text
/eos/install filter=lfs diff=lfs merge=lfs -text
/eos/make/makefile_base filter=lfs diff=lfs merge=lfs -text
*.rst filter=lfs diff=lfs merge=lfs -text
/eos/plotter/clean filter=lfs diff=lfs merge=lfs -text
/eos/plotter/inlist_plotter filter=lfs diff=lfs merge=lfs -text
/eos/plotter/make/makefile_base filter=lfs diff=lfs merge=lfs -text
/eos/plotter/rn filter=lfs diff=lfs merge=lfs -text
*.dek filter=lfs diff=lfs merge=lfs -text
/eos/test/ck filter=lfs diff=lfs merge=lfs -text
/eos/test/inlist filter=lfs diff=lfs merge=lfs -text
/eos/test/make/makefile_base filter=lfs diff=lfs merge=lfs -text
/eos/test/test_output filter=lfs diff=lfs merge=lfs -text
/help filter=lfs diff=lfs merge=lfs -text
/install filter=lfs diff=lfs merge=lfs -text
/interp_1d/copy_extras filter=lfs diff=lfs merge=lfs -text
/interp_1d/make/makefile_base filter=lfs diff=lfs merge=lfs -text
/interp_1d/test/make/makefile_base filter=lfs diff=lfs merge=lfs -text
/interp_1d/test/test_output filter=lfs diff=lfs merge=lfs -text
/interp_2d/make/makefile_base filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
/interp_2d/test/make/makefile_base filter=lfs diff=lfs merge=lfs -text
/interp_2d/test/test_output filter=lfs diff=lfs merge=lfs -text
/math/make/makefile_base filter=lfs diff=lfs merge=lfs -text
/math/test/ck filter=lfs diff=lfs merge=lfs -text
/math/test/make/makefile_base filter=lfs diff=lfs merge=lfs -text
*.CRLIBM filter=lfs diff=lfs merge=lfs -text
*.CRMATH filter=lfs diff=lfs merge=lfs -text
*.INTRINSIC filter=lfs diff=lfs merge=lfs -text
/mk filter=lfs diff=lfs merge=lfs -text
/mtx/COPYING_LAPACK filter=lfs diff=lfs merge=lfs -text
/mtx/make/makefile_base filter=lfs diff=lfs merge=lfs -text
*.F90 filter=lfs diff=lfs merge=lfs -text
*.inc filter=lfs diff=lfs merge=lfs -text
*.COO filter=lfs diff=lfs merge=lfs -text
/mtx/test/make/makefile_base filter=lfs diff=lfs merge=lfs -text
/mtx/test/mrn filter=lfs diff=lfs merge=lfs -text
/mtx/test/sparse_data/E05R0100 filter=lfs diff=lfs merge=lfs -text
/mtx/test/sparse_data/E05R0400 filter=lfs diff=lfs merge=lfs -text
/mtx/test/sparse_data/README filter=lfs diff=lfs merge=lfs -text
*.mtx filter=lfs diff=lfs merge=lfs -text
/mtx/test/sparse_data/g10 filter=lfs diff=lfs merge=lfs -text
*.rhs filter=lfs diff=lfs merge=lfs -text
*.rua filter=lfs diff=lfs merge=lfs -text
*.test filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
/mtx/test/test_output filter=lfs diff=lfs merge=lfs -text
/num/copy_extras filter=lfs diff=lfs merge=lfs -text
/num/make/makefile_base filter=lfs diff=lfs merge=lfs -text
/num/test/ck filter=lfs diff=lfs merge=lfs -text
/num/test/make/makefile_base filter=lfs diff=lfs merge=lfs -text
/num/test/test_output filter=lfs diff=lfs merge=lfs -text
/release filter=lfs diff=lfs merge=lfs -text
/touch filter=lfs diff=lfs merge=lfs -text
/utils/build_and_test filter=lfs diff=lfs merge=lfs -text
/utils/build_and_test_parallel filter=lfs diff=lfs merge=lfs -text
/utils/check_sdk_version filter=lfs diff=lfs merge=lfs -text
/utils/cp_if_newer filter=lfs diff=lfs merge=lfs -text
*.c filter=lfs diff=lfs merge=lfs -text
/utils/e1 filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
/utils/i1 filter=lfs diff=lfs merge=lfs -text
/utils/i1p filter=lfs diff=lfs merge=lfs -text
/utils/install_mesa filter=lfs diff=lfs merge=lfs -text
/utils/make/makefile_base filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
/utils/makefile_header filter=lfs diff=lfs merge=lfs -text
/utils/makefile_header_non_mesasdk filter=lfs diff=lfs merge=lfs -text
*.tbz filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
/utils/test/ck10 filter=lfs diff=lfs merge=lfs -text
/utils/test/ck12 filter=lfs diff=lfs merge=lfs -text
/utils/test/ck2 filter=lfs diff=lfs merge=lfs -text
/utils/test/ck3 filter=lfs diff=lfs merge=lfs -text
/utils/test/ck4 filter=lfs diff=lfs merge=lfs -text
/utils/test/ck5 filter=lfs diff=lfs merge=lfs -text
/utils/test/ck6 filter=lfs diff=lfs merge=lfs -text
/utils/test/ck8 filter=lfs diff=lfs merge=lfs -text
/utils/test/make/makefile_base filter=lfs diff=lfs merge=lfs -text
/utils/test/test_output filter=lfs diff=lfs merge=lfs -text
/include/formats filter=lfs diff=lfs merge=lfs -text
